body {
  margin: 40px 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 15px;
}
.news li{
  padding: 5px;
  border: 1px solid;
  margin-bottom: 10px;
  list-style-type: none
}
.news li a{
  color: #000;
  text-decoration: none;
}
.news li:hover{
  background: #acacac;
}
.news .comments{
  display: flex;
  align-items: center;
}
.news .comments svg{
  margin-right: 8px;
}
.buttons-container{
  display: flex;
}
.buttons-container button{
  margin-right: 15px;
}